<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>

<div>
  <%= render @event.event_tickets %>
</div>

<%= link_to "New Event Ticket", new_event_event_ticket_path(@event) %>
