<%= form_with(model: [  ticket_type.event, ticket_type ]) do |form| %>
  <% if ticket_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket_type.errors.count, "error") %> prohibited this ticket_type from being saved:</h2>

      <ul>
        <% ticket_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :limit_number, style: "display: block" %>
    <%= form.number_field :limit_number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
